.contenedor-productos {
   display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-start; /* Alinea arriba */
    gap: 20px; /* Espacio entre cards */
    flex-wrap: wrap; /* Permite que bajen si no caben */
    padding: 20px;

}

.card-producto {
    width: 250px;
    background: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card-producto:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.card-producto img {
    width: 100%;
    border-radius: 10px;
}

.card-producto h3 {
    font-size: 18px;
    margin: 10px 0;
}

.card-producto p {
    color: #444;
    font-size: 14px;
}

.precio {
    font-weight: bold;
    color: #008f39;
    font-size: 18px;
}

.card-producto button {
    width: 100%;
    background: #008f39;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.card-producto button:hover {
    background: #006e2c;
}
